.memo{
    width: 400px;
    height: 500px;
    padding: 30px;
}
.text{
    width: 100%;
    height: 80%;
    resize: none;
    outline: none;            
}
button{
    margin-top: 30px;
}

.dark{
    background-color: rgb(94, 94, 94);
}

.color{

}
.showBg{
    display:none;
}